body{
    background-color: lightblue;
}

.title{
    text-align: center;   
}

.ont{
    display: flex;
    justify-content: space-around;
}

.flex1{
    display: flex;
    flex-direction: column;
}

