body{
    background-color: lightblue;
}

.title{
    text-align: center;   
}

.ont{
    display: flex;
    justify-content: space-around;
    column-gap: 3%;
}

.flex1{
    display: flex;
    padding-right: 5%;
    flex-direction: column;
    margin-left: 95%;
    margin-right: 95%;
}

