body{
    background-color: lightblue;
}

.title{
    text-align: center;   
}

.ont{
    display: flex;
    margin-left: 98%;
    margin-right: 98%;
    justify-content: space-around;
}

.flex1{
    padding-right: 5%;
}

.flex2{

}